<section class="page-section mt-0" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading">О poldance студии GIRLS</h2>
    </div>
    <div class="row align-items-center">
      <h2 class="col__advantages">
        <i class="fas fa-check"></i>
        Самая атмосферная студия полденс в Киеве. Современный ремонт и стильный дизайн
      </h2>
      <h2 class="col__advantages">
        <i class="fas fa-check"></i>
        Профессиональный тренерский состав. Индивудуальный подход к каждому ученику
      </h2>
      <h2 class="col__advantages">
        <i class="fas fa-check"></i>
        Небольшие группы учеников на тренировках
      </h2>
    </div>

    <div class="row align-items-center our-directiond">
      <div class="text-center">
        <h2 class="section-heading">Направления тренировок</h2>
      </div>

      <div class="accordion accordion-flush" id="gallery">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed our-direction__title" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Pole dance
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
               data-bs-parent="#gallery">
            <div class="accordion-body">
              <h3 class="accordion-body__title">Танцевально-спортивное направление, которое объединяет в себе элементы
                акробатики,
                спортивной гимнастики и хореографию. Регулярные тренировки по полденс помогают развиваеть силу и выносливость,
                улучшить физическую форму и обрести уверенность в себе.
              </h3>
              <div class="col-6 about__video">
                <app-video-modal [videoSrc]="'https://www.youtube.com/embed/TBNxS1BFCGo'"></app-video-modal>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed our-direction__title" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Stretching
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
               data-bs-parent="#gallery">
            <h3 class="accordion-body__title"> Занятия по растяжке направлены на развитие гибкости тела.  Растяжка помогает сделать связки и суставы более эластичными, позволяя человеку выполнять движения по полной амплитуде.
              А так же, стретчинг стимулирует кровообращение, расслабляет забитые мышцы и положительно влияет на психоэмоциональное состояние.
              Растяжку рекомендуется совмещать с тренировками по полденс.
            </h3>
            <div class="col-6 about__video">
              <app-video-modal [videoSrc]="'https://www.youtube.com/embed/j1bmuFwRvJo'"></app-video-modal>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed our-direction__title" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Exotic
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
               data-bs-parent="#gallery">
            <h3 class="accordion-body__title">Красивые и чувственные танцевальные связки, идеальный микс сексуальности и
              спорта. Экзотик исполняют как в специальной
              танцевальной обуви (стрипах), так и босиком. В студии танцев Girls есть занятия по экзотику для разных уровней подготовки,
              но для тех кто совсем не знаком с пилоном, рекомендуется сначала посетить несколько тренировок по
              полденс для понимания основ взаимодейсвия с пилоном.
            </h3>
            <div class="col-6 about__video">
              <app-video-modal [videoSrc]="'https://www.youtube.com/embed/twbtNzc27Pg'"></app-video-modal>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed our-direction__title" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
              Pole kids
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
               data-bs-parent="#gallery">
            <h3 class="accordion-body__title"> Приглашаем детей от 8 до 13 лет на акробатику на пилоне для детей. Тренировки Pole Dance отлично помогают развивать детям
            силу, гибкость и координацию. </h3>
            <div class="col-6 about__video">
              <app-video-modal [videoSrc]="'https://www.youtube.com/embed/Z389Leqci8'"></app-video-modal>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
