<section class="page-section" id="team">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading">Тренерский состав</h2>
    </div>
    <div class="row">
      <app-member [name]="'Алина'" [photo]="'assets/img/team/photo-1.png'" [instagram]="'https://www.instagram.com/alina__poledance/'" [telegram]="'https://telegram.me/SailorV'"></app-member>
      <app-member class="mt-sm-3" [name]="'Маша'" [photo]="'assets/img/team/photo-2.jpg'" [instagram]="'https://instagram.com/mariiaagabalaeva/'"></app-member>
    </div>
  </div>
</section>
