<footer class="bg-pink mt-4">
  <div class="container p-1">
    <div class="row">
      <div class="col-lg-2 col-md-12 mb-4 mb-md-0 text-center text-lg-start align-self-center">
        <p class="mb-0"><a href="tel:+38063834211" class="text-white"> <i
          class="fas fa-phone animate__animated animate__swing animate__infinite_hover"></i>+380638344211</a></p>
        <p class="mb-0"><a href="#contact" class="text-white"><i class="fas fa-map-marker-alt"></i> Киев, Радужная, 59Б</a>
        </p>
      </div>
      <div class="col-lg-1 col-md-12 mb-4 mb-md-0 text-center text-lg-start align-self-center">
        <a class="m-1 text-white" target="_blank" href="https://www.facebook.com/GirlsStudioPoleDance/" role="button"><i
          class="fab fa-2x fa-facebook"></i></a>
        <a class="m-1 text-white" target="_blank" href="https://www.instagram.com/girlsstudio_poledance/" role="button"><i
          class="fab fa-2x fa-instagram"></i></a>
      </div>
      <div class="col-lg-9 col-md-12 mb-4 mb-md-0 text-center text-lg-end align-self-center">
        <span class="fw-bold">Copyright &copy; Girls Studio 2021</span>
      </div>
    </div>
  </div>
</footer>
