<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <div class="nav_contacts d-none d-sm-none d-lg-inline-block">
      <a href="tel:+38063834211" class="phone"> <i
        class="fas fa-phone animate__animated animate__swing animate__infinite_hover"></i>+380638344211</a>
      <a href="#contact" class="address"><i class="fas fa-map-marker-alt"></i> Киев, Радужная, 59Б</a>
    </div>

    <a class="navbar-brand" href="#">
      <img src="assets/img/Logo-5.svg" alt="" width="250" height="200">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
    </button>

    <div class="justify-content-end collapse navbar-collapse nav__menu" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a (click)="onClick($event)" class="nav-link link-item" aria-current="page" href="#about">О студии</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a (click)="onClick($event)" class="nav-link link-item" href="#gallery">Галерея</a>-->
<!--        </li>-->
        <li class="nav-item">
          <a (click)="onClick($event)" class="nav-link link-item" href="#prices">Цены</a>
        </li>
        <li class="nav-item">
          <a (click)="onClick($event)" class="nav-link link-item" href="#schedule">Расписание</a>
        </li>
        <li class="nav-item">
          <a (click)="onClick($event)" class="nav-link link-item" href="#team">Тренера</a>
        </li>
        <li class="nav-item">
          <a (click)="onClick($event)" class="nav-link link-item" href="#contact">Контакты</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
