
/*#services{*/
/*  background-color: #ffffff;*/
/*}*/
/*.sing-up{*/
/*  margin-top: 25px;*/
/*  margin-bottom: 5px;*/
/*  background-color: #fff;*/
/*  height: 50px;*/
/*  border-radius: 30px;*/
/*  border: 3px solid #edf1f3;*/
/*  background-color: #ef2868;*/
/*}*/
/*.header_btn-telegram{*/
/*  font-size: 18px;*/
/*  padding: 15px;*/
/*  text-decoration: none;*/
/*  color: #edf1f3;*/
/*}*/
/*.sing-up:hover{*/
/*  outline: 3px solid #ef2868;*/
/*}*/

#services{
  background-color: #f35184;
}
.sing-up{
  padding: 10px;
  border: none;
  background-color: #f35184;
  border-radius: 35px;

}
/*.header_btn-telegram{*/
/*  line-height: 30px;*/
/*  font-weight: lighter;*/
/*  font-size: 18px;*/
/*  text-decoration: none;*/
/*  color: #fff;*/
/*}*/
/*.header_btn-telegram:hover{*/
/*  font-size: 20px ;*/
/*}*/

#services{
  background-color: #212529;
}
.neon-section {
  /*background-color: hsl(323 21% 16%);*/

  padding-bottom: 4rem;
  padding-top: 1rem;
}

.neon-button {
  margin: 0 auto;
  font-size: 2rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: hsl(317 100% 54%);
  background-color: hsl(323 21% 16%);
  border: hsl(317 100% 54%) 0.125rem solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.25),
    0 0 0.45em hsl(317 100% 54%);
  box-shadow: inset 0 0 0.5em 0 hsl(317 100% 54%),
    0 0 0.5em 0 hsl(317 100% 54%);
  position: relative;
}
.header_btn-telegram{
  text-align: center;
  color: hsl(317 100% 54%);
}
.header_btn-telegram:hover{
  color: #000;
  text-shadow: 0px 0px 15px hsl(0, 0%, 96%);
}
.neon-button::before {
  content: "";
  position: absolute;
  background: hsl(317 100% 54%);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em hsl(317 100% 54%);
  opacity: 0;
  background-color: hsl(317 100% 54%);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover, .neon-button:focus {
  background: hsl(317 100% 54%);
  color: hsl(323 21% 16%);
  text-shadow: none;
}
.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}

.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}
