body {
  background: whitesmoke;
}

.bg-pink {
  background: #F35183;
}

.color-pink {
  color: #F35183;
}

.img-link {
  color: #000 !important;
  text-decoration: none
}

.page-section {
  margin-top: 2rem !important
}
.nav-link {
  font-size: 2rem;
}
